.container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  background-color: aliceblue;
}

.containerForm {
  flex: 5;
  margin-right: 8px;
}

.containerDescription {
  background-color: white;
}

.containerImage {
  flex: 7;
  background-color: white;
}

.uploadButton {
  font-size : larger; 
  width: 50%;
  padding: 1%;
  background-color: lightgoldenrodyellow;
  border-radius: 12px;
  border-width: 1px;
  font: inherit;
}