.container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  background-color: aliceblue;
}

.container-form {
  flex: 5;
  margin-right: 8px;
}

.container-description {
  background-color: white;
}

.container-image {
  flex: 7;
  background-color: white;
}