.containerDetails {
    display: flex;
    flex-wrap: wrap;
    background-color: lightgoldenrodyellow;
    justify-content: space-evenly;
}

.detailsPortrait {
    flex: 1;
    flex-wrap: nowrap;
    background-color: white;
    margin: 1%;
    text-align: center;
}