.containerDetails {
    background-color: lightgoldenrodyellow;
    display: flex;
    justify-content: space-evenly;
}

.detailsPortrait {
    background-color: white;
    flex: 1;
    margin: 1%;
    text-align: center;
}